@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
} */

.bg-primary {
	background-color: rgb(255, 37, 37);
}
.bg-accent {
	background-color: #fafafa;
}
.hover\:bg-primary:hover {
	background-color: rgb(255, 37, 37);
}

.text-primary {
	color: rgb(255, 37, 37);
}
.decoration-primary {
	text-decoration-color: rgb(255, 37, 37);
}

@layer components {
	.line {
		@apply w-1/2 h-[2px] bg-gray-600 transition-all duration-500 ease-in-out;
	}
	.active {
		@apply w-full h-[2px] bg-gray-600 transition-all duration-500 ease-in-out;
	}
	.mid-line {
		@apply w-full h-[2px] bg-gray-600 transition-all duration-150 ease-in-out;
	}

	.active-line1 {
		@apply rotate-45 translate-x-0 translate-y-3;
	}
	.active-line2 {
		@apply rotate-[-45deg];
	}
}
