@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.7.2/font/bootstrap-icons.css");
@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

/* body {
	font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu,
		Cantarell, "Open Sans", "Helvetica Neue", sans-serif !important;
} */

.bg-primary {
	background-color: rgb(255, 37, 37);
}
.bg-accent {
	background-color: #fafafa;
}
.hover\:bg-primary:hover {
	background-color: rgb(255, 37, 37);
}

.text-primary {
	color: rgb(255, 37, 37);
}
.accent-primary {
	accent-color: rgb(255, 37, 37);
}
.decoration-primary {
	text-decoration-color: rgb(255, 37, 37);
}

.input-field:focus ~ label {
	color: rgb(255, 37, 37);
	font-weight: 600;
}

.input-field:focus ~ span > i {
	color: black !important;
}

.border-primary {
	border-color: rgb(255, 37, 37);
}

label {
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}

.navbar-preloader-container.active-preloader {
	transition: all 5s ease-out;
	width: 90% !important;
}
.navbar-preloader-container.done-preloader {
	transition: none !important;
	width: 100% !important;
}

@layer components {
	.line {
		@apply w-1/2 h-[2px] bg-gray-600 transition-all duration-500 ease-in-out;
	}
	.active {
		@apply w-full h-[2px] bg-gray-600 transition-all duration-500 ease-in-out;
	}
	.mid-line {
		@apply w-full h-[2px] bg-gray-600 transition-all duration-150 ease-in-out;
	}

	.active-line1 {
		@apply rotate-45 translate-x-0 translate-y-3;
	}
	.active-line2 {
		@apply rotate-[-45deg];
	}
	.open .event {
		@apply bg-primary;
	}
	.closed .event {
		@apply bg-gray-400;
	}
	.closed {
		@apply pointer-events-none;
	}

	.error {
		@apply text-red-500 bg-red-100;
	}

	.success {
		@apply text-green-500 bg-green-100;
	}

	.link-animator {
		@apply font-bold text-xs md:text-sm;
	}

	.status {
		@apply absolute top-1/2 left-1/2 translate-x-[-50%] translate-y-[-50%] text-xs md:text-sm bg-gray-800 bg-opacity-[.75] font-semibold text-white rounded-full w-20 h-20 sm:w-24 sm:h-24 flex items-center justify-center;
	}

	.special-deal {
		@apply order-2 md:order-1 text-xs text-slate-700 bg-green-300 px-3 rounded font-semibold mr-0 md:mr-1;
	}

	.food-card-container {
		/* md:min-w-[12rem] min-w-[9.15rem] w-full sm:w-[45%] */
		@apply sm:w-[20rem] md:w-[30%] md:min-w-[20rem] xl:max-w-[20rem] min-w-[18rem] w-[20rem] rounded-lg  min-h-[14.25rem] relative cursor-pointer;
	}

	.food-card-container2 {
		/* md:min-w-[12rem] min-w-[9.15rem] w-full sm:w-[45%] */
		@apply xl:w-[24%] md:w-[32%] w-full sm:w-[46%] rounded-lg  min-h-[14.25rem] relative cursor-pointer;
	}

	.prev-price {
		@apply order-1 md:order-2 text-xs text-slate-500 line-through font-semibold;
	}

	.food-name-con {
		@apply flex flex-col md:flex-row md:justify-between md:items-center;
	}

	.banner-default {
		@apply w-full h-[25rem] bg-gray-400 flex items-center justify-center;
	}

	.aside-link-active {
		@apply font-semibold;
	}

	button,
	input {
		@apply focus:outline-none;
	}
}
/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

/* Firefox */
input[type="number"] {
	-moz-appearance: textfield;
}
.item-counter i,
.close-btn i {
	-webkit-text-stroke: 1px;
}
.link-animator {
	position: relative;
	overflow-x: hidden !important;
}
.link-animator::after,
.link-animator::before {
	content: "";
	position: absolute;
	bottom: 0;
	left: -100%;
	height: 2px;
	width: 100%;
	background-color: red;
	transition: all 0.2s ease;
}

.link-animator::before {
	left: 0%;
}

.link-animator::after {
	transition: all 0.2s ease 0.15s;
}

.link-animator:hover::before {
	left: 100%;
}

.link-animator:hover::after {
	left: 0%;
}

.closed {
	opacity: 0.5;
}

.open {
	opacity: 1;
}

.bi-suit-heart::before {
	font-weight: bold !important;
}
